@import "typeWriter.css";
@import "navBar.css";
@import "button.css";
.wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1ft);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.div1{
    grid-area: 1/1/2/6;
    background-color: #FFA500;
}
.div2 {
    grid-area:2/1/4/3;
    
    align-items: start;
    background-color: #FFFFF0;
}
.div3{
    grid-area: 4/1/6/3;
    background-color: #FFFFF0;
}
.div4{
    grid-area: 2/3/6/6;
    align-items: center;
    background-color: #FFFFF0;
}
.content4{
    font-family: "Times New Roman", Times, serif;
    background-color: #778899;
    color:black;
    
}
.left1{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    font-family: "Lobster",serif;
    flex-flow:column;
    align-items:flex-start;
    
}

.right{
    width: 800px;
    display: flex;
    flex-flow:column;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 2rem;
}
.text-gradient{
        position: absolute;
        
        padding: 20px;
        width: 100%;
        bottom: 0;
        text-align: center;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #ffffff;
        
}
