@import "typeWriter.css";
@import "navBar.css";
figure figcaption{
    text-align: left;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1ft);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.div1{
    grid-area: 1/1/2/6;
    background-image: url("img/background.jpg");
}
.div2{
    grid-area:2/1/4/3;
    background-image: url("img/background2.jpg");
}
.div3{
    grid-area: 4/1/6/3;
    background-image: url("img/background2.jpg");
}
.div4{
    grid-area: 2/3/6/6;
    align-items: center;
    background-image: url("img/background2.jpg");
}
.content4{
    font-family: "Times New Roman", Times, serif;
    background-color: #778899;
    color:black;
    
}
.left1{
    
    flex-wrap: wrap;
    color: white;
    display: flex;
    font-family: "Lobster",serif;
    flex-flow:column;
    align-items: center;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 2rem;
}

.right{
    width: 800px;
    display: flex;
    flex-flow:column;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 2rem;
}


